body {
    padding: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background: linear-gradient(white, blue);
    height: 90vh;
    color: #e98a1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background {
    background-image: url("/img/background/01.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
}

h1 {
    text-shadow: 0px 3px 0px black;
    line-height: 3rem;
    transform: rotate(-9deg);
    font-size: 3.5rem;
    margin-bottom: 4rem;
}

#stage {
    width: 90%;
    font-size: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#player-1 {
    /* outline: 1px solid red; */
    /* min-height: 3rem;
    min-width: 3rem; */
    display: flex;
    flex-direction: column;
}

#player-2 {
    /* outline: 1px solid white; */
    /* min-height: 3rem;
    min-width: 3rem; */
    display: flex;
    flex-direction: column;
}

#player-1-name, #player-2-name {
    margin: 0;
}

button {
    cursor: pointer;
    border: 0;
    padding: .5rem 2rem;
    border-radius: .75rem;
    background: #e98a1d;
    color: white;
    font-family: inherit;
    font-size: 20px
}

button:hover {
    color: #e98a1d;
    background: white;
}