body {
    padding: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background: linear-gradient(white, blue);
    height: 90vh;
    color: firebrick;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background {
    background-image: url("/img/background/9.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
}

h1 {
    text-shadow: 0px 3px 0px white;
    line-height: 3.5rem;
    transform: rotate(-9deg);
    font-size: 4.5rem;
    margin-bottom: 4rem;
    margin-top: 5rem;
}

p {
    color: firebrick;
    text-shadow: 0px 3px 0px gainsboro;
    transform: rotate(-9deg);
}

#stage {
    width: 90%;
    font-size: 5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#player-1, #player-2 {
    /* outline: 1px solid red; */
    /* min-height: 3rem;
    min-width: 3rem; */
    display: flex;
    flex-direction: column;
    width: 24rem;
}

#player-1-name, #player-2-name {
    margin: 0;
    color: firebrick;
    text-shadow: 0px 3px 0px gainsboro;
    transform: rotate(-5deg);
}

#player-1-img, #player-2-img {
    border: 5px solid white;
    border-radius: .5rem;

}

button {
    cursor: pointer;
    border: 1px solid gainsboro;
    padding: .5rem 2rem;
    border-radius: .75rem;
    background: #e98a1d;
    color: white;
    font-family: inherit;
    font-size: 2.5rem;
}

button:hover {
    border: 1px solid white;
    background: firebrick;
}